$btn-primary-color: #00827f;
$link-color: #00827f;

.site-title {
    display: none;
}

.site-footer {
    display: none;
}

.portrait {
    border-radius: 50px;
    display: inline-block;
    float:left;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100px;
    height: auto;
}
